<section class="h-[100dvh] grid place-items-center overflow-y-auto">
    <div class="grid grid-cols-2 h-full items-center content-center container mx-auto">
        <div class="bg-gradient-to-b text-nowrap via-emerald-300 from-emerald-500 to-cyan-500 bg-clip-text">
          <h3  class="text-7xl font-semibold bg-clip-text text-transparent">Dhaivath Lal</h3>
          <h3 class="text-xl text-transparent font-jetbrains"> 
              <block-text [text]="name"/>
          </h3>
        </div>
      <div class="h-full">
        <div class="w-2/3 rotate-[20deg] -translate-y-5 aspect-square relative m-auto clipped triangle-outer overflow-hidden">
          <div class="w-full aspect-square mx-auto clipped bg-radial-gradient from-emerald-400 to-emerald-600 triangle-inner">
          </div>
          <img class="w-full -rotate-[25deg] h-full -translate-x-5 translate-y-12 aspect-auto object-contain absolute top-0 left-0" src="/assets/pictures/profile.webp" alt="">
        </div>
      </div>
    </div>
</section>
<section class="h-[100dvh] grid place-items-center overflow-y-auto">
  <div class="grid-cols-4"></div>
</section>